<div class="form no-imprimir">
  <div class="titulo">
    <h1>RECIBO DE CAJA</h1>
  </div>

  <form class="formulario">
    <div class="campo">
      <label>Nombre del estudiante</label>
      <input type="text" [(ngModel)]="pago.estudiante" name="estudiante" required />
    </div>

    <div class="campo">
      <label>Valor</label>
      <input
        type="number"
        [(ngModel)]="pago.valorTotal"
        name="valor"
        (input)="onValorChange()"
        required
      />
    </div>

    <div class="campo">
      <label>Valor en letras</label>
      <input type="text" [value]="pago.valorLetras" disabled />
    </div>

    <div class="campo">
      <label>Concepto del pago</label>
      <input type="text" [(ngModel)]="pago.concepto" name="concepto" required />
    </div>

    @for (m of pago.metodosPago; track $index) {
      <div class="campo">
        <label>Medio de pago</label>
        <select [(ngModel)]="m.medio" name="medio" required>
          <option value="">Seleccione</option>
          <option value="Efectivo">Efectivo</option>
          <option value="Transferencia">Transferencia</option>
          <option value="Datáfono">Datáfono</option>
        </select>
      </div>

      @if (pago.metodosPago.length > 1) {
        <div class="campo">
          <label>Valor</label>
          <input type="number" [(ngModel)]="m.valor" name="valor{{ $index }}" />
        </div>
      }

      @if (m.medio === 'Transferencia' || m.medio === 'Datáfono') {
        <div class="campo">
          <label>{{
            m.medio === 'Transferencia' ? 'Número de comprobante' : 'Número de autorización'
          }}</label>
          <input type="text" [(ngModel)]="m.referencia" name="referencia" required />
        </div>
      }
      @if ($index > 0) {
        <button class="btns delete" (click)="eliminarMetodo($index)">Eliminar metodo de pago</button>
      }
    }
    <button class="btns add" (click)="agregarMetodo()">Agregar metodo de pago</button>

    <button class="btns" (click)="guardarPago()">Generar Recibo</button>
  </form>

  <hr />
</div>

@if (mostrarImpresion) {
  <div class="recibo">
    <h3>INSTITUTO EDUCATIVO</h3>
    <h2>NUEVA AMERICA</h2>
    <p class="inf">NIT: 800008061-8</p>
    <p class="inf">Nuevo Bosque Mz 52 Lt 02 etapa 7</p>
    <p class="inf">Cartagena, Bolívar.</p>
    <p class="inf">Tel. 605 6654780</p>

    <br />

    <h3>RECIBO #{{ pagos.length - 1 }}</h3>

    <br />

    <div class="detalle">
      <p><strong>Fecha:</strong> {{ pagoImprimir.fecha | date: 'MMM dd yyyy HH:mm:ss' }}</p>
      <p><strong>Estudiante:</strong> {{ pagoImprimir.estudiante }}</p>
      <p><strong>Concepto:</strong> {{ pagoImprimir.concepto }}</p>
      <p><strong>Valor:</strong> ${{ pagoImprimir.valorTotal }}</p>
      <p><strong>Valor en letras:</strong> {{ pagoImprimir.valorLetras }} PESOS M/CTE</p>
      <p><strong>Medio de pago:</strong> {{ pagoImprimir.medio }}</p>
      @if (pagoImprimir.metodosPago.length > 1) {
        @for (m of pagoImprimir.metodosPago; track $index) {
          <p>
            {{ m.medio }} - ${{ m.valor | number }}
            @if (m.referencia) {
              <span> (Ref: {{ m.referencia }}) </span>
            }
          </p>
        }
      }
    </div>

    <br />
    <br />

    <p>______________________________</p>
    <p>Firma</p>
  </div>
}

<!-- <button class="finish no-imprimir" (click)="refescarPages()">Nuevo Recibo</button> -->
