<div class="form no-imprimir">
  <div class="titulo">
    <h1>RECIBO DE CAJA</h1>
  </div>

  <form class="formulario" (ngSubmit)="guardarPago()">
    <div class="campo">
      <label>Nombre del estudiante</label>
      <input type="text" [(ngModel)]="pago.estudiante" name="estudiante" required />
    </div>

    <div class="campo">
      <label>Valor</label>
      <input
        type="number"
        [(ngModel)]="pago.valor"
        name="valor"
        (input)="onValorChange()"
        required
      />
    </div>

    <div class="campo">
      <label>Valor en letras</label>
      <input type="text" [value]="pago.valorLetras" disabled />
    </div>

    <div class="campo">
      <label>Concepto del pago</label>
      <input type="text" [(ngModel)]="pago.concepto" name="concepto" required />
    </div>

    <div class="campo">
      <label>Medio de pago</label>
      <select [(ngModel)]="pago.medio" name="medio" required>
        <option value="">Seleccione</option>
        <option value="Efectivo">Efectivo</option>
        <option value="Transferencia">Transferencia</option>
        <option value="Datáfono">Datáfono</option>
      </select>
    </div>

    @if (pago.medio === 'Transferencia' || pago.medio === 'Datáfono') {
      <div class="campo">
        <label>{{
          pago.medio === 'Transferencia' ? 'Número de comprobante' : 'Número de autorización'
        }}</label>
        <input type="text" [(ngModel)]="pago.referencia" name="referencia" required />
      </div>
    }

    <button type="submit">Generar Recibo</button>
  </form>

  <hr />
</div>

@if (mostrarImpresion) {
  <div class="recibo">
    <h3>INSTITUTO EDUCATIVO</h3>
    <h2>NUEVA AMERICA</h2>
    <p class="inf">NIT: 800008061-8</p>
    <p class="inf">Nuevo Bosque Mz 52 Lt 02 etapa 7</p>
    <p class="inf">Cartagena, Bolívar.</p>
    <p class="inf">Tel. 605 6654780</p>

    <br />

    <h3>RECIBO #{{ pagos.length - 1 }}</h3>

    <br />

    <div class="detalle">
      <p><strong>Estudiante:</strong> {{ pagoImprimir.estudiante }}</p>
      <p><strong>Concepto:</strong> {{ pagoImprimir.concepto }}</p>
      <p><strong>Valor:</strong> ${{ pagoImprimir.valor }}</p>
      <p><strong>Valor en letras:</strong> {{ pagoImprimir.valorLetras }} PESOS M/CTE</p>
      <p><strong>Medio de pago:</strong> {{ pagoImprimir.medio }}</p>
      <p><strong>{{pago.medio === 'Transferencia' ? 'Número de comprobante' : 'Número de autorización'}}</strong> {{ pagoImprimir.referencia }}</p>
    </div>

    <br />
    <br />

    <p>______________________________</p>
    <p>Firma</p>

    <br />
    <br />
    <div class="separacion">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div>
    <br />
    <br />

    <h3>INSTITUTO EDUCATIVO</h3>
    <h2>NUEVA AMERICA</h2>
    <p class="inf">NIT: 800008061-8</p>
    <p class="inf">Nuevo Bosque Mz 52 Lt 02 etapa 7</p>
    <p class="inf">Cartagena, Bolívar.</p>
    <p class="inf">Tel. 605 6654780</p>

    <br />

    <h3>RECIBO #{{ pagos.length - 1 }}</h3>

    <br />

    <div class="detalle">
      <p><strong>Fecha:</strong> {{ pagoImprimir.fecha }}</p>
      <p><strong>Estudiante:</strong> {{ pagoImprimir.estudiante }}</p>
      <p><strong>Concepto:</strong> {{ pagoImprimir.concepto }}</p>
      <p><strong>Valor:</strong> ${{ pagoImprimir.valor }}</p>
      <p><strong>Valor en letras:</strong> {{ pagoImprimir.valorLetras }} PESOS M/CTE</p>
      <p><strong>Medio de pago:</strong> {{ pagoImprimir.medio }}</p>
      <p><strong>{{pago.medio === 'Transferencia' ? 'Número de comprobante' : 'Número de autorización'}}</strong> {{ pagoImprimir.referencia }}</p>
    </div>

    <br />
    <br />

    <p>______________________________</p>
    <p>Firma</p>
  </div>
}

<!-- <button class="finish no-imprimir" (click)="refescarPages()">Nuevo Recibo</button> -->
